.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    max-height: 93vh;
    overflow-y: auto;
}

/* =======================
HEADER
======================= */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 28px;
    margin: 0px;
    color: var(--accent);
    font-family: var(--text-lora);
}

.modal-header button {
    border: 1px solid white;
    background: white;
    font-size: 20px;
    cursor: pointer;
}


/* =======================
MODAL PRODUK
======================= */
.modal-product {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.2px solid #eee;
    background-color: var(--bg-main);
}

.modal-product img {
    width: 150px;
    height: 180px;
    border-radius: 12px;
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-text p {
    width: 100%;
    font-size: 12px;
}

.modal-text h3 {
    width: 30%;
    font-size: 20px;
    text-align: center;
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
    /* background-color: var(--accent); */
}

/* =======================
MODAL OPTION
======================= */
.modal-options {
    padding: 10px 5px;
    margin-top: 10px;
    gap: 20px 10px;
    height: 40vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(2, 250px);
    align-items: center;
    justify-content: center;
}

.option-group {
    height: 100%;
    padding: 20px 10px 10px 10px;
    margin-top: 15px;
    border: 1px solid var(--accent-soft);
    border-radius: 8px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
}

.option-group h4 {
    position: absolute;
    margin: 0px;
    z-index: 999;
    top: -10px;
    left: 20px;
    color: #fff;
    background-color: var(--accent-soft);
    padding: 0px 10px;
    border-radius: 8px;
    border: 1px solid var(--accent-soft);
    width: fit-content;
}

.option-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
}

.option-item {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.span {
    color: var(--accent);
}

/* =======================
MODAL FOOTER
======================= */
.modal-footer {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
}

.modal-footer h3 {
    width: 100%;
    margin: 0px;
    font-size: 22px;

}

.modal-footer .add-btn {
    width: 100%;
    padding: 16px;
    border: none;
    background: var(--primary-btn);
    color: white;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}